NEXT_PUBLIC_SUPABASE_URL=https://boaaiskncrfmaismhqno.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
PAYSTACK_PUBLIC_KEY=your_paystack_test_public_key
PAYSTACK_SECRET_KEY=your_paystack_test_secret_key
RESEND_API_KEY=your_resend_api_key
BREVO_API_KEY=your_brevo_api_key
BREVO_NEWSLETTER_LIST_ID=2
NEWSLETTER_FROM_EMAIL=Folus Emporium <newsletter@yourdomain.com>
NEXT_PUBLIC_SITE_URL=https://website-smoky-kappa-22.vercel.app
